[submodule "SimaiSharp"]
	path = SimaiSharp
	url = git@github.com:clansty/SimaiSharp.git
[submodule "MaiLib"]
	path = MaiLib
	url = git@github.com:clansty/MaiLib.git
[submodule "SonicAudioTools"]
	path = SonicAudioTools
	url = git@github.com:clansty/SonicAudioTools.git
[submodule "XV2-Tools"]
	path = XV2-Tools
	url = git@github.com:clansty/XV2-Tools.git
[submodule "AquaDX"]
	path = AquaDX
	url = git@github.com:hykilpikonna/AquaDX.git
